#about{
  padding:40px 60px;
  text-align:center;
  background-color: rgba(12, 24, 33);
  color: white;
}

.about-content {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-section-title{
  margin:0px 0px 30px 0px;
  font-size: 28px;
  display:inline-block;
  border-bottom:1px solid rgba(12, 24, 33, 0.9);
  padding-bottom:8px;
  width: 160px;
}
