.btn-flat {
  color: /*#639a67*/ white;
  padding: 12px 22px 12px 22px;
  border-radius: 8px;
  background: #204051;
  transition: background 0.3s ease;
  margin-top: 40px;
  font-weight: bold;
}

.btn-flat:hover {
  background: #f1f3f4;
  color: #204051;
}
