.cards {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card-product {
  overflow: hidden;
  height: 250px;
  width: 180px;
  background: #204051;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
/*  color: #204051;
*/  color: white;
  text-align: center;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .9;
  margin-bottom: 0;
  margin-top: 8px;
  color: white;
  text-align: center;
}

.card-product .card-product-infos {
  padding: 16px;
  text-align: center;
}

.contact-card {
  height: 250px;
  width: 600px;
  background: #204051;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
}

}
