.carousel-container{
  display: flex;
  justify-content: space-around;
  padding: 0 180px;
}

#carousel-style{
width: 400px;
height: 200px;
border-radius: 4px;
}

#carousel-image{
  width:400px;
  border-radius: 4px;
}
