#carousel-style{
width: 400px;
height: 200px;
border-radius: 4px;
}

.projects {
/*  width: 700px;
  margin: 0 auto;
*/  text-align: center;
  padding:40px 0;
  color: white;
  background-color: #0c1821;
}

.carousel-container{
    display: flex;
  justify-content: space-around;
  padding: 0 180px;
}

#carousel-image{
  width:400px;
  border-radius: 4px;
}
