.up-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}

.up-container h2{
  color: white;
  font-size: 42px;
  text-shadow: 0px 0.9px 0.9px rgba(255, 255, 255, 0.9);
}

.about-container  {
  background-position: center;
  margin: 0px auto;
  background: #204051;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  width: 1100px;
}

.about-text {
  margin
  background: #204051;
  color: white;
  margin-left: 60px;
}

.about-text .title {
  color: white;
  align-items: left;
  text-align: left;
  padding-top: 16px;
}

.about-text .paragraph{
  color: white;
  text-align: left;
  width: 500px;
  }

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  margin: 0 60px;
}
.list-container h2{
 margin: 0;
 padding-top: 16px;
 color: white;
}

.middle-container {
  background: #3b6978;
  color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px 0px;
  }

.middle-container .background-title {
  color: white;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;

}

.middle-container .title-text{
  color: white;
  justify-content: center;
  text-align: left;
  margin: 0;
  padding-top: 12px;
  padding-left: 62px;
}
