.contact {
  text-align: center;
  padding-top:20px;
  background-color: white;
  color: #0c1821;
}

.contact-title{
  margin:0px 0px 30px 0px;
  font-size: 28px;
  display:inline-block;
  border-bottom:1px solid rgba(12, 24, 33, 0.9);
  padding-bottom:8px;
  width: 160px;
}

.contact-container{
  display: flex;
  justify-content: space-around;
  padding: 0 180px;
}

.contact-list {
  text-align: center;
  align-self: center;
  padding-inline-start: 0px;
  padding-right: 22px;
}

.contact-item{
  margin: 16px;
}

.contact-text{
  text-align: center;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0px;
  margin: 0px 0px;
}

.contact-text>p{
  margin-top: 0;
  margin-bottom: 0em;
  text-align: center;
}


