.tools {/*
    color: #204051;
  color: white;
  margin-bottom: 7px;
  font-size: 40px;*/
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-left: 0;
}

.tools-icons {
  margin: 16px;
  align-content: center;
  text-align: center;

}

.icons {
  font-size: 36px;
}
