.skills {
  text-align: center;
  padding:40px 0;
  color: white;
  background-color: #0c1821;
}

.skill-title{
  margin:0px 0px 30px 0px;
  font-size: 28px;
  display:inline-block;
  border-bottom:1px solid rgba(255, 255, 255, 0.9);
  padding-bottom:8px;
  width: 100px;
}

.skill-content {
  display: flex;
  justify-content: space-around;
  padding: 0 180px;
}

.skill-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(12, 24, 33);
  color: white;
  font-weight: 400;
  background-clip: border-box;
  border: 1px solid  rgba(255, 255, 255, 0.8 );
  border-radius: 4px;
  margin: 0px 10px;
}

.skill-card-content{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  align-content: center;
}

.skill-card-list {
  text-align: center;
  align-self: center;
  text-decoration: none;
  list-style: none;
  padding-inline-start: 0px;
}

.skill-card-content > .skill-card-list {
  margin-bottom: 0px;
}




.skill-content > .list-inline {
  margin-bottom: 0px;
}

.list-inline {
  text-align: center;
  align-self: center;
}

.skill-icon {
  color:white;
  font-size: 60px;
  margin:12px;
}
